<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Nlog\logs\internalLog.txt">
	<targets>
		<!-- database -->
		<target name="database" xsi:type="Database" keepConnection="true"
				 dbProvider="System.Data.SqlClient"
				 connectionString="Data Source=DESKTOP-IH2SMGI;Initial Catalog=Nlog;Integrated Security=true;"
				  commandText="INSERT INTO Logs(EventDateTime, EventLevel, CorrelationId, MachineName, EventMessage, ErrorSource, ErrorClass, ErrorMethod, ErrorMessage, InnerErrorMessage) VALUES (@EventDateTime, @EventLevel, @CorrelationId, @MachineName, @EventMessage, @ErrorSource, @ErrorClass, @ErrorMethod, @ErrorMessage, @InnerErrorMessage)">

			<!-- parameters for the command -->
			<parameter name="@EventDateTime" layout="${date:s}" />
			<parameter name="@EventLevel" layout="${level}" />
			<parameter name="@CorrelationId" layout="${activityid}"/>
			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@EventMessage" layout="${message}" />
			<parameter name="@ErrorSource" layout="${event-context:item=error-source}" />
			<parameter name="@ErrorClass" layout="${event-context:item=error-class}" />
			<parameter name="@ErrorMethod" layout="${event-context:item=error-method}" />
			<parameter name="@ErrorMessage" layout="${event-context:item=error-message}" />
			<parameter name="@InnerErrorMessage" layout="${event-context:item=inner-error-message}" />
		</target>
	</targets>
	<rules>
		<!-- logging rules here -->
		<logger name="*" minlevel="Debug" writeTo="database" />
	</rules>
</nlog>